<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Veggies for Meatlovers</title>
</head>
<body>
    <h1><%= veg.name %></h1>
    
</body>
</html>